* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

:root {
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;
    background-color: #555; 
}

.main-container {
    width: 100vw; 
    height: 100vh; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: indianred;
    overflow: auto;
}

deck, card {
    display: block; 
}

deck {
    /* width: 100vw;  */
    /* height: 100vh; */
    box-sizing: content-box;
    position: relative;
    left: calc(50% - 125px);
    margin: 0; 
    padding: 0;
    /* border: thick solid #333; */
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* overflow: auto; */
}

.card-container {
    position: relative;
    margin-right: 20px;
    width: 250px;
    height: 350px;
    z-index: 1;
    perspective: 1000; 
    /* margin: 50% 0 0 0;  */
}
.card-container.flip .card {
     transform: rotateX(180deg) 
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all .25s ease;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 18px;
    padding: 10px;
    cursor: pointer;
}
.front.face {
    color: whitesmoke;
    background-color: teal;
}
.back.face {
    /* display: block;  */
    color: teal; 
    background-color: whitesmoke; 
    transform: rotateX(180deg);
}


button {
    position: absolute;
    margin: 100px;
    padding: 30px;
    cursor: pointer;
}