* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

:root {
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;
    background-color: #555; 
}

.main-container {
    width: 100vw; 
    height: 100vh; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #205860;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

deck, card {
    display: block; 
}

deck {
    box-sizing: content-box;
    position: relative;
    left: calc(50% - 125px);
    margin: 0; 
    padding: 0;
    display: flex;
    /* background-color: orange; */
}

.card-container {
    position: relative;
    margin-right: -230px;
    width: 250px;
    height: 350px;
    /* background-color: yellow;  */
    perspective: 1000; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
}
.card-container.flip .card {
    transform: rotateX(180deg) 
}

.card-container.fade-in .card .answer {
    opacity: 1;
}

.card-container.drop-left {
    animation: dropLeft .5s forwards; 
}
@keyframes dropLeft {
    0% {bottom: 0; left: 0; transform: rotateZ(0deg)}
    100% {bottom: -100vh; left: -575px; transform: rotateZ(-120deg)}
}

.card-container.drop-right {
    animation: dropRight .5s forwards; 
}
@keyframes dropRight {
    0% {bottom: 0; left: 0; transform: rotateZ(0deg)}
    100% {bottom: -100vh; left: 575px; transform: rotateZ(120deg)}
}

.card-container:nth-child(1) {
    margin-right: 50px;
    transform: scale(1.15);
}

.card {
    width: 250px;
    height: 350px;
    transform-style: preserve-3d;
    transition: transform .15s ease;
    word-wrap: break-word;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 18px;
    padding: 10px;
    cursor: pointer;
}
.front.face {
    color: whitesmoke;
    background-color: indianred;
    border: thick solid whitesmoke;
    font-size: 1.7rem;
}
.back.face {
    /* display: block;   */
    color: teal; 
    background-color: whitesmoke; 
    transform: rotateX(180deg);
}


.button {
    background-color: #bbb;
    position: absolute;
    cursor: pointer;
    margin: 100px;
    padding: 30px;
    border: none;
}

.answer {
    background-color: teal;
    width: 100px;
    height: 55px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;

    transform: translateX(-50%);
    position: absolute;
    left: 50%;

    transition: opacity .25s ease-in .15s;
}
.right {
    background-color: #teal;
    /* background-color: #399760; */
    top: -80px;
    display: flex;
}
.wrong {
    background-color: indianred;
    /* background-color: #994740; */
    bottom: -80px;
    display: flex;
}

barrier {
    z-index: 100;
    /* background-color: gray; */
    opacity: .5;
    width: 50vw;
    height: 350px;
    position: absolute;
    top: calc(50% - 175px);
    left: calc(50% + 175px);
}