* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

:root {
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #222; 
}

.main-container {
     display: flex;  
}

deck, card {
    display: block;
}

deck {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: indianred;
    display: inline-block;
    overflow-y: scroll; 
}

.card-container {
    position: relative;
    width: 250px;
    height: 350px;
    z-index: 1;
    perspective: 1000; 
    margin: 30px;
}
.card-container.flip .card {
     transform: rotateX(180deg) 
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all .25s ease;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 18px;
    padding: 10px;
    cursor: pointer;
}
.front.face {
    color: whitesmoke;
    background-color: teal;
}
.back.face {
    /* display: block;  */
    color: teal; 
    background-color: whitesmoke; 
    transform: rotateX(180deg);
}